body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  font-size: 20px ; 
  color: lightgray;
}

p {
  font-family: verdana;
  font-size: 12px;
  color:lightblue;
  
}

div {
	border-style: dotted;
	font-family: verdana;
  font-size: 12px;
  color:white;
  width:200px;
  height:200px;
}

ul {
	list-style-type:square;
	color: yellow;
}